
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

 .button{
    float: right;
    color: rgb(228, 223, 221);
  padding: 10px 25px;
  border: 3px solid rgb(228, 223, 221);
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  margin: 10px;
  margin-top: 20px;
  margin-right: 5px;
}

/* Responsive design for smaller screens */
@media screen and (max-width: 768px) {
    .button {
        width: 100%;
        margin: 10px 0;
        font-size: 14px;
        float: none;
        display: inline-block;
        text-align: center;
        font-size: 16px;
    }
}
.logo-container {
    display: flex;
    align-items: center;
}
#logo{
    width:  80px;
    height: 80px;
     
    margin-right: 10px;
}
.site-name {
    font-size: 2.9rem;
    font-weight: bold;
    color: white; 
}
#firstpart{
    background-color: #000000;
}


.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    color: #333333;
  }
  
  p {
    font-size: 18px;
    line-height: 1.6;
    color: #555555;
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  .social-media {
    margin-top: 20px;
    text-align: center;
  }
  
  .social-button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .social-button:hover {
    background-color: #0056b3;
  }
